<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="index.html" class="b-brand">
        <div class="b-bg">
          <i class="fas fa-chart-line"></i>
        </div>
        <span class="b-title">PriceItNow</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    </div>
    <div class="navbar-content scroll-div ps ps--active-y">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item <%= 'active' if params[:action].eql?('dashboard') %>">
          <%= link_to root_path, class: "nav-link" do %>
            <span class="pcoded-micon">
              <i class="fa fa-home"></i>
            </span>
            <span class="pcoded-mtext">Dashboard</span>
          <% end %>
        </li>
        <li class="nav-item <%= 'active' if params[:action].eql?('index') %>">
          <%= link_to handbags_path, class: "nav-link" do %>
            <span class="pcoded-micon">
              <i class="fas fa-th-list"></i>
            </span>
            <span class="pcoded-mtext">Filter Data</span>
          <% end %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item <%= 'active' if params[:controller].eql?('users') %>">
            <%= link_to "#!", class: "nav-link" do %>
              <span class="pcoded-micon">
                <i class="fa fa-users"></i>
              </span>
              <span class="pcoded-mtext">Users</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
